* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
}

.nav-logo {
    width: 120px;
}

.logo {
        background-image: url("amazon_logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 50px;
        width: 100%;
}

.border {
    border: 1px solid transparent;
    cursor: pointer;
}

.border:hover {
    border: 1px solid white;
}

/* ADDRESS */
.navbar-address {
    display: flex;
    flex-direction: column;
}

.add-first {
    font-size: 0.75rem;
    color: #cccccc;
}

.add-second {
    font-size: 0.9rem;
    font-weight: bold;
}

.add-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* SEARCH */
.nav-search {
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.search-select {
    border: none;
    background-color: #f3f3f3;
    padding: 0 10px;
}

.search-input {
    flex: 1;
    border: none;
    padding: 0 10px;
    font-size: 1rem;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    width: 45px;
    background-color: #febd69;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}

/* TEXT */
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* CART */
.nav-cart {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-cart i {
    font-size: 28px;
}

/* PANEL */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-ops {
    width: 70%;
}

.panel-ops p {

    margin-right: 15px;
    font-size: 0.85rem;
    background-color: orange; 
    margin: left; 
    font-size: 0.9rem; 
    cursor: pointer; 
    display: inline; 
    padding: 5px 10px; 
    border-radius: 4px; 
    font-weight: bold;
    justify-content: center;

}

.panel-deals {
    font-weight: bold;
}

/* HERO SECTION */
.hero-section {
    height: 350px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

.hero-msg a {
    color: blue;
}


.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: grey;
}

.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 25px;
}


.box-img{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: blue;
}

.foot-panel1{
    height: 50px;
    background-color: navy;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}


.foot-panel2{
    background-color: grey;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul p{
    font-weight: bold;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

.panel3{
    background-color: black;
    color: white;
    border-top: 1px solid #bbbbbb;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1{
    background-image: url("amazon-logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100px;   /* correct size */
}

.foot-panel4{
    background-color: black;
    color: white;
     height: 80px;
     font-size: 0.85rem;
}

.pages{
    /* font-size: 0.7rem; */
    text-align: center;
    padding-top: 25px;
    color: white;
}

.copyright{
    /* font-size: 0.7rem; */
    text-align: center;
    padding-top: 5px;
}
